{% load staticfiles %}
<br/>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <img class="img-responsive center" src='{% static "../../static/pictures/holdsTowelInPlace.jpg" %}'/>
                    <br/><br/>
                    <img class="img-responsive center" src='{% static "../../static/pictures/hangOutWithFriends.jpg" %}'/>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive center" src='{% static "../../static/pictures/easyToTake.jpg" %}'/>
                    <br/><br/>
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="img-responsive center" src='{% static "../../static/pictures/coordinates.jpg" %}'/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive center" src='{% static "../../static/pictures/readABook.jpg" %}'/>
                    <br/><br/>
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-responsive center" src='{% static "../../static/pictures/holdsSunglasses.jpg" %}'/>
                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive center" src='{% static "../../static/pictures/listenToMusic.jpg" %}'/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>